.ToDoForm {
    background-color: cornflowerblue;
    min-height: 500px;
    margin: 40px auto;
    width: 50%;

}

.Input {
    background-color: aliceblue;
    border: 2px;
    width: 75%;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: black;
}

/*.ToDoForm input::placeholder {*/
/*    color: #ccc;*/
/*}*/

/*.ToDoForm input:focus, .ToDoForm button:focus {*/
/*    outline: aqua;*/
/*}*/

.button {
    border: 2px;
    padding: 0 10px;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 10%;
    border-radius: 10px;
    background-color: darkcyan;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    font-size: 18px;
    text-align: center;
}