.ToDoItem {
    color: white;
    width: 90%;
    background-color: darkcyan;
    height: 30px;
    margin: 7px auto;
    border-radius: 8px;
    padding: 8px;
    position: relative;
}

.ToDoItem span {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 5%;
}

.Faicons {
    margin: 0 5px;
    font-size: 18px;
}

.ToDoItem input {
    background-color: transparent;
    border: 0;
    width: 75%;
    color: #fff;
    font-size: 18px;
}

.ToDoItem input:focus {
    outline: none;
}